@charset "UTF-8";
body{
    background-color:azure;
}
h1{
    border-left: dotted 5px brown;
    border-bottom : solid 2px burlywood;
    padding : 10px;
    font-size : 24px;
    width : 400px;
}
select{
    font-size : 18px;
}
#status{
    font-size: 24px;
    border-bottom: double 2px black;
}
/* #wrapbox{
    display: flex;
} */
.row-style{
    line-height: 20px;
    font-size: 18px;
    width:100%;
    display: grid;
    margin:0;
    grid-template-columns: 1fr 1fr 0.2fr 1fr 1.8fr 1fr 2fr;
    grid-template-rows: 0.5fr 1fr;
}
.ri00{
    text-align: center;
    border: solid 2px black;
}
.ri01{
    font-size:30px;
    margin: 0px;
    padding: 0px;
}
.ri02{
    font-size: 18px;
    border-bottom: solid 1px black;
    padding: 0px;
    margin:0;
}
.ri03{
    font-size:12px;
    margin: 0px;
    padding: 0px;
}
.fare{
    padding: 7%;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    text-align: center;
    border-bottom: solid 2px black;
}
.period{
    padding: 7%;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    text-align: center;
    border-bottom: solid 2px black;
}
.row-stopicon{
    grid-column: 5 / 6;
    grid-row: 1 / 2;
    background-color:gray;
}
.stopname{
    grid-column: 4 / 7;
    grid-row: 2 / 3;
    text-align: center;
    padding: 2%;
    border-radius: 20px;
    border: solid 1px black;
    background-color: white;
}
.herestop{
    grid-column: 4 / 7;
    grid-row: 2 / 3;
    text-align: center;
    padding: 2%;
    border-radius: 20px;
    border: solid 3px black;
    background-color: white;
}
.stopdesc{
    grid-column: 7 / 8;
    grid-row: 2 / 3;
}
/* routeArea */
.ra{
    width:900px;
    min-width: 900px;
    height:auto;
    display: grid;
    grid-template-rows: 40px 1fr 1fr;
    border-bottom: solid 2px black;
    margin : 20px
}
.ra_button{
    grid-row: 1 / 2;
}
.ra_pdf{
    grid-row: 2 / 3;
}
.ra_canvas{
    grid-row: 3 / 4;
}