@charset "UTF-8";
body{
    background-color:ghostwhite;
}
.row-style{
    line-height: 15px;
    font-size: 12px;
    margin: 0;
    width:50%;
    display: grid;
    grid-template-columns: 1fr 1fr 12px 6fr 6fr;
    /* column-gap: 10px; */
    margin: 0px;
}
.row-stopicon{
    width:12px;
    height:12px;
    background-color:red;
    border-radius: 100%;
    /* position: relative; */
    margin: 0px;
}
.fare{
    grid-column: 1 / 2;
    text-align: center;
}
.period{
    grid-column: 2 / 3;
    text-align: center;
}
.row-stopicon{
    grid-column: 3 / 4;
    text-align: center;
}
.stopname{
    grid-column: 4 / 5;
    /* text-align: center; */
}
.stopdesc{
    grid-column: 5 / 6;
    /* text-align: center; */
}